<div class="filmCardShot-thumb">
    <img src='https://image.tmdb.org/t/p/w500/{{img_src}}' alt='poster {{title}}'>
    
    <h4 class="filmCardShot-title">{{title}}</h4>
    <ul class="filmCardShot-info"> 
        <li class="filmCardShot-genre">{{genres}} </li>
        <li> | </li>
        <li class="filmCardShot-year">{{year}}</li>
        <li class="filmCardShot-rating">{{vote_average}}</li>
    </ul>
</div>