<li class="filmCardShot-thumb" data-id={{id}}>
    <a href="#" class='filmCardShot-link' data-id={{id}}>
        <img class="filmCardShot-poster" src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
            alt='poster {{title}} ' data-id={{id}} >
            
        <p class="filmCardShot-title">{{title}}</p>
        <span class="filmCardShot-info">{{genres}} | {{year}} </span>
        <span class="filmCardShot-rating">{{vote_average}}</span>
    </a>
</li>