<div class="filmCardShot-thumb">
    <img class="filmCardShot-poster" src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt='poster {{title}}'>
    <h4 class="filmCardShot-title">{{title}}</h4>
    <span class="filmCardShot-stats">{{genres}} | {{year}} </span>
    <span class="filmCardShot-rating">{{vote_average}}</span>
</div>