{{#each this}}
<li class='filmCardShot-thumb' data-id={{id}}>
    <a href="#" class='filmCardShot-link'>
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" class='filmCardShot-poster' data-id={{id}} >
        <p class="filmCardShot-title">{{title}}</p>
        <p class='filmCardShot-info'>{{genres}} | {{year}}</p>
    </a>
    <div class="card-film-btn__container">
        <button type="button" class="film__button add-to-watched">Add watched</button>
        <button type="button" class="film__button add-to-queue">Add queue</button>
    </div>
</li>
{{/each}}